<div class="wrapper">
  <div id="banner">
    anismile
  </div>
  <div id="frame">
    <img id="front" src="" #bannerFront/>
    <img id="back" src="" #bannerBack/>
  </div>

  <div id="bar" class="scroll">
    <div class="menuLink" >animals</div>
    <div class="menuLink" routerLink="/owned">owned</div>
    <div class="menuLink">smileys</div>
    <div class="menuLink" routerLink="/login" *ngIf="!loginService.logged">login</div>
    <div class="menuLink" routerLink="/profile" *ngIf="loginService.logged">profile</div>
  </div>
</div>
