<div class="wrapper">
  <div id="banner">
    anismile
  </div>
  <div id="frame">
    <img id="front" src="" #bannerFront/>
    <img id="back" src="" #bannerBack/>
  </div>

  <div id="bar" class="scroll">
    <div class="menuLink" [fade]="highlightColor">animals</div>
    <div class="menuLink" routerLink="/owned" [fade]="highlightColor">owned</div>
    <div class="menuLink" [fade]="highlightColor">smileys</div>
    <div class="menuLink" routerLink="/login" [fade]="highlightColor">profile</div>
  </div>
</div>
