@import '../variables';

$width: 65vw;

.wrapper {
  width: 98vw;
  min-height: 100%;

  display: grid;
  grid-template-columns: 1fr $width 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "left-margin banner right-margin"
                       "left-margin-b bar    right-margin-b";
  align-items: stretch;
  justify-items: stretch;

  font-family: $font;
  background: white;
}


#banner {
  grid-area: banner;
  padding: 20px;

  text-align: center;
  font-size: 120px;
  transform: scale(1.3, 1);
  font-family: $font;
  color: #ebebeb;
  z-index: 3;
}

#front {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

#back {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#frame {
  grid-area: banner;
  border-radius: 7px;
  margin: 10px 0;
  overflow: hidden;
  width: $width;
  height: 180px;
  position: relative;
}

#bar {

  grid-area: bar;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-items: stretch;
  background: white;
  z-index: 5;
}

.menuLink {
  color: $font-clr;
  font-size: 25px;
  display:grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(255,255,255,0.05);
  border-radius: 5px;
  margin-top: 5px;
}

.menuLink:hover {
  cursor: pointer;
}


