.wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-rows: 30% 1fr;
  grid-template-areas: "top" "main";
  align-items: stretch;
  justify-items: center;

}

app-top {
  grid-area: top;
  z-index: 2;
}

.main {
  grid-area: main;
  padding-top: 20px;
}

.stick {
  position: sticky;
  top: -205px;
}
