$main-clr: grey;
$light-clr: lightblue;
$highlight-clr: rgba(240, 128, 128, 0.16);
$banner-clr: rgba(149, 112, 160, 0.2);
$font-clr: rgba(122, 122, 122, 0.8);
$other-clr: rgb(252, 232, 255);
$clr: rgba(82, 41, 64, 0.67);


$font: 'Karla';
$url: 'https://fonts.googleapis.com/css?family=' + $font;
@import url($url);

$tile-width: 150px;
$tile-height: 190px;
