$main-clr: grey;
$light-clr: lightblue;
$highlight-clr: rgba(29, 143, 15, 0.65);
$h2: rgba(34, 126, 10, 0.04);
$h3: rgba(26, 116, 16, 0.8);
$banner-clr: rgba(149, 112, 160, 0.2);
$font-clr: rgba(122, 122, 122, 0.8);
$other-clr: rgb(252, 232, 255);
$clr: rgba(172, 172, 172, 0.69);


$font: 'Karla';
$font2:'Noto+Sans';
$font2s: 'Noto Sans';
$url: 'https://fonts.googleapis.com/css?family=';
@import url($url + $font);
@import url($url + $font2);

$tile-width: 150px;
$tile-height: 190px;
