@import "../variables";

.wrapper {
  width: 75vw;
  height: 60vh;
  justify-self: center;

  font-family: $font;
  color: $font-clr;
  margin-top: 50px;

  display: grid;
  grid-template-columns: 30% 1fr;
  justify-items: center;

  //align-items: center;
}
//
//div:not(#frame) {
//  padding: 10px;
//}

$img-size: 18vw;
#frame {
  width: $img-size;
  height: $img-size;
  border-radius: 10px;
  overflow: hidden;
}


#textFrame {
  width: 100%;
}

#line {
  width: 100%;

  display: grid;
  grid-template-columns: 35% 15% 10%;
  align-items: stretch;
  justify-items: stretch;
  font-size: 24px;

}

#header {
  font-size: 36px;
  font-weight: 600;
  display: grid;
  align-items: center;
}

#price {
  display: grid;
  align-items: center;
  justify-items: left;
  font-size: 40px;
}

#description {
  margin-top: 30px;
  text-align: justify;
  text-justify: inter-word;
}

#addButton {
  width: 80px;

  display: grid;
  align-items: center;
  justify-items: center;

  border-radius: 3px;
  font-size: 40px;
  //font-weight: 700;

  background: $highlight-clr;
  color: white;
}
