<div class="wrapper">


    <div id="frame" (mouseover)="showPhoto()" (mouseleave)=" photoVisible = false" #frame>
      <img #image [src]="animal?.imageUrl"/>
    </div>


  <div id="textFrame">

    <div id="line">

      <div id="header">
        <span>{{animal?.name}}</span>
      </div>

      <div class="filler"></div>

      <div id="buy">
        <div id="addButton">+</div>
        <span id="price">{{animal?.price}}</span>
      </div>

    </div>

    <div id="description">{{animal?.description}}</div>
  </div>
</div>

<div id="dim" *ngIf="photoVisible"><img id="fullImage" [src]="animal?.imageUrl"></div>
