@import '../variables';

.wrapper {
  width: 12vw;

  display: grid;
  grid-auto-rows: 40px;
  font-family: $font;
  color: $font-clr;
  font-size: 17px;
}

.row {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 3px;
}

.row:hover {
  border: 1px solid $highlight-clr;
  cursor: pointer;
}
