@import '../variables';

.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Karla';
}

$input-w: 400px;
$input-h: 50px;

input {
  width: 100%;
  height: $input-h;
  border-radius: 3px;
  border: solid 1px $clr;
  margin: auto;
  color: $clr;
  text-align: center;
  font-size: 105%;
}

.button {
  width: 48%;
  height: $input-h;
  border-radius: 3px;
  border: solid 1px $clr;
  color: $font-clr;
  display: grid;
  justify-items: center;
  align-items: center;
}

.button:hover {
  color: white;
  background-color: $clr;
  cursor: pointer;
}

#buttons {
  margin: auto;
  width: 100%;
  height: $input-h;
}

#column {
  margin: auto;
  width: $input-w;
  height: 100%;
}

#username {
  margin-top: 100px;
}

#password {
  margin-top: 8px;
}

#buttons {
  margin-top: 8px;
}

#login {
  float: left;
}

#register {
  float: right;
}





