<div class="wrapper">

  <div id="column">

    <input id="username" [ngClass]="{'invalid' : wrongCredentials}" placeholder="username" classs="field" [(ngModel)]="username">
    <input id="password" [ngClass]="{'invalid' : wrongCredentials}" placeholder="password" classs="field" [(ngModel)]="password">

    <div id="buttons">
      <div id="login" class="button" (click)="login()">submit</div>
      <div id="register" class="button" (click)="register()">register</div>
    </div>

  </div>
</div>
