<div class="wrapper">

  <div id="column">

    <input id="username" placeholder="username" classs="field">
    <input id="password" placeholder="password" classs="field">

    <div id="buttons">
      <div id="login" class="button" (click)="login()">submit</div>
      <div id="register" class="button" (click)="register()">register</div>
    </div>

  </div>
</div>
