@import '../variables';

.wrapper {
  width: $tile-width;
  min-height: $tile-height;
  border: solid 1px transparent;
  border-radius: 5px;
  text-align: center;
  font-family: $font;
  color: $font-clr;
}

.wrapper:hover {
  border: solid 1px $highlight-clr;
  box-shadow: 1px 1px 7px 0 rgba(206, 206, 206, 0.29);
  cursor: pointer;

  #thumbnail {
    opacity: 0.9;
  }
}

$image-size: $tile-width - 30px;

#thumbnail {
  width: $image-size;
  height: $image-size;
  margin: 15px auto;
  margin-bottom: 5px;
  opacity: 0.7;
  border-radius: 3px;
  overflow: hidden;
  //position: relative;
  text-align: center;

}

img {
  height: $image-size * 1.2;
  width: $image-size * 1.5;
  transform:translate(-$image-size * 0.25,-$image-size * 0.1);
}

#name {
  font-size: 19px;
}

#price {
  font-size: 15px;
}

